@font-face {
    font-family: 'Windows 95';
    src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: 400;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url("../fonts/inconsolata-webfont.eot");
    src: url("../fonts/inconsolata-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/inconsolata-webfont.woff") format("woff"),
         url("../fonts/inconsolata-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
